<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}{% endblock page_title %} | wansik's airbnb</title>
  </head>
  <body>


  <header>
    {% include "partials/nav.html" %}

    {% block search-bar %}
      <form method="get" action="{% url "rooms:search" %}">
        <input value="" name="city" placeholder="Search By City" />
      </form>
    {% endblock search-bar %}


  </header>

  <!-- content라는 block을 넣을 거야 -->
    {% block content %}
    {% endblock %}


    {% include "partials/footer.html" %}
    &copy; wansik
  </body>
</html>
